body{
    padding: 0%;
    background-color: aqua;

}
.shop{
    height: 300px;
    width: 170px;
}

img{
    height:300px;
    width: 86px;
}  
#pay2{
    width: 150px;
    height: 300px;
}
.drop{
    display: inline-flex;
    color: blueviolet;
    gap: 10px;
    padding: 5%;
}
.tops{
    display: flex;
    gap: 1%;
}
.dress{
    display:flex;
    gap: 1%;
}
.trousers{
    display: flex;
    gap:1%;
}
h1{
    color: green;
}
.pay{
    display: flex;
    gap: 10px;
    padding: 10px;
}
button{
    color:white;
    font-size: 20px;
    padding: 10px 10px;
    background-color: blue;
    border-radius: 3px;
    border: none;
}
@media screen and(max-width:1300px){
    .heading{
        font-size: 30px;
        display: flex;
        gap:4rem;
        margin-left: 60px;
    }
    img{
        width: 300;
    }
}

   


